@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    font-family: 'Poppins', sans-serif;
}

:root {
    --main-color: #055e05;
    --bg-color: #fff;
    --text-color: #0f0c27;
    --hover: rgba(2, 166, 70);
    --big-font: 3.2rem;
    --medium-font: 1.8rem;
    --p-font: 0.941rem;
}

section {
    padding: 50px 10%;
}

#darkmode {
    font-size: 22px;
    cursor: pointer;
}


body {
    background: var(--bg-color);
    color: var(--text-color);
}
body.active {
    background: #141414; /* Cor de fundo para o dark mode */
    color: #fff; /* Cor do texto para o dark mode */
}
body.active .social a {
    color: #fff; /* Cor dos ícones no modo escuro */
}

body.active .social a:hover {
    color: var(--main-color); /* Cor dos ícones no modo escuro */
}
/* Outros estilos para o dark mode */
.dark-mode-element {
    background: #ffffff; /* Exemplo de cor de fundo para elementos no dark mode */
    color: #ccc; /* Exemplo de cor de texto para elementos no dark mode */
}

body.active #darkmode {
    color: #000000; /* Cor do ícone no modo escuro */
}

*::selection {
    color: var(--bg-color);
    background: var(--main-color);
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--bg-color);
    padding: 13px 10%;
    transition: 0.2s;
    box-shadow: -3px -3px 7px #ffffff73, 2px 2px 5px rgba(94, 104, 121, 0.288);
}

.logo {
    font-size: 1.61rem;
    font-weight: 600;
    color: var(--text-color);
}

.logo span {
    font-size: 1.61rem;
    font-weight: 600;
    color: rgba(2, 166, 70);
}

.navbar {
    display: flex;
}
  .navbar.active {
    transform: translateX(0); /* Quando a classe 'active' é adicionada, traga o menu da direita para o centro */
  }
  
 
.navbar a {
    font-size: 1rem;
    padding: 10px 20px;
    color: var(--text-color);
    font-weight: 500;
}

.navbar a:hover {
    color: var(--hover);
}



#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

#darkmode {
    font-size: 22px;
    cursor: pointer;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr;
    align-items: center;
    gap: 1rem;
}

.home-img {
    order: 3;
}

.home-img img {
    width: 100%;
}

.home-text span {
    font-size: var(--medium-font);
    font-weight: 500;
}

.home-text h1 {
    font-size: var(--big-font);
}

.home-text h2 {
    font-size: 1rem;
    font-weight: 400;
}

.home-text p {
    font-size: var(--p-font);
    font-weight: 400;
    margin: 0.7rem 0 1rem;
}
/* Animação para o texto */
.home-text {
    opacity: 0; /* Começa com opacidade 0 para escondê-lo inicialmente */
    transform: translateY(20px); /* Move para baixo 20px */
    animation: slideIn 1s ease-in-out forwards;
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Animação para a imagem */
  .home-img img {
    opacity: 0; /* Começa com opacidade 0 para escondê-la inicialmente */
    transform: scale(0.8); /* Inicialmente, escala a imagem para 80% do tamanho original */
    animation: fadeIn 1s ease-in-out forwards, scaleIn 1s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes scaleIn {
    0% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
  

.social {
    display: flex;
    flex-direction: column;
}

.social a {
    margin-bottom: 1rem;
    font-size: 22px;
    color: var(--text-color);
}

.social a:hover {
    color: var(--hover);
}

/* Defina a animação */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Aplique a animação aos ícones com diferentes atrasos */
.animated-icon:nth-child(1) {
    animation: fadeIn 0.5s ease 0s 1 normal forwards;
}

.animated-icon:nth-child(2) {
    animation: fadeIn 0.5s ease 0.5s 1 normal forwards;
}

.animated-icon:nth-child(3) {
    animation: fadeIn 0.5s ease 1s 1 normal forwards;
}

.btn {
    display: inline-block;
    background: var(--main-color);
    color: #fff;
    padding: 0.7rem 1.3rem;
    border-radius: 0.5rem;
}

.btn:hover {
    background: var(--hover);
}

.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-top: 2rem;
}


.heading {
    text-align: center;
}

.heading h2 {
    font-size: 2rem;
}

.heading span {
    font-size: var(--p-font);
    color: rgba(2, 166, 70);
}

.about-img img {
    width: 80%;
    border-radius: 0.7rem;
}

.about-text p {
    font-size: var(--p-font);
    font-weight: 400;
    text-align: justify;
    animation: slideIn 1s ease-in-out forwards;
}


.information {
    margin: 1rem 0 1.4rem;
}

.information .info-box {
    display: flex;
    align-items: center;
    margin-bottom: 1.4rem;
}

.information .info-box span {
    font-weight: 400;
    margin-left: 1rem;
}


  
.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}

.skills-img img {
    width: 80%;
    padding-left: 4rem;
    object-position: center;
}

.bars-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    margin-bottom: 1rem;
}

.bars-box h3,
span {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 0;
    margin-left: 5px;
}

.bars-box i {
    color: var(--main-color);
    font-size: 35px;
    margin-left: auto; /* Move o ícone para a direita */
}

body.active  .bars-box i  {
    color: var(--bg-color);
}


.light-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.6rem;
    background: hsla(147, 41%, 49%, 0.4);
    border-radius: 0.5rem;
}

.percent-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.6rem;
    background: var(--main-color);
    border-radius: 0.6rem;
}


body.active .light-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.6rem;
    background: hsl(147, 28%, 45%);
    border-radius: 0.5rem;
}

body.active .percent-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.6rem;
    background: hsl(146, 100%, 50%);
    border-radius: 0.6rem;
}

.html-bar {
    width: 95%;
}

.CSS-bar {
    width: 85%;
}

.js-bar {
    width: 85%;
}

.react-bar {
    width: 55%;
}

.Bootstrap-bar {
    width: 75%;
}

.Angular-bar {
    width: 15%;
}

.java-bar {
    width: 65%;
}

.Spring-boot-bar {
    width: 35%;
}

.Spring-data-bar {
    width: 35%;
}

.docker-bar {
    width: 45%;
}

.aws-bar {
    width: 25%;
}

.mysql-bar {
    width: 95%;
}
.container-projeto{
    margin-top: 200px;
    width: 80%; /* Defina a largura do container como desejado */
    margin: 0 auto; /* Centralize o container na página */
}


.projeto {
    display: inline-block;
    margin: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
}

/* Estilize as imagens dos projetos */
.projeto img {
<<<<<<< HEAD
    max-width: 450px; /* Aumente o valor da largura máxima */
    height: auto;
    width: 100%;
    transition: transform 0.3s, filter 0.3s;
}



=======
    max-width: 450px;
    max-height: auto;
    width: 100%;
    height: auto;
    transition: transform 0.3s, filter 0.3s; /* Adicione uma transição para o filtro */
}

>>>>>>> 87e5ca010b95818a4fdd4e80237b7549469214dc
/* Estilize a div de tecnologias */
.tecnologias {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.459);
    color: #fff;
    padding: 0; 
    opacity: 0; 
    transition: opacity 0.300s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}


.icones-tecnologia h2 {
    font-size: 15px; /* Tamanho da fonte */
    color: #fff6f6; /* Cor do texto */
    margin-bottom: 10px; /* Espaçamento inferior */
    text-align: center; /* Alinhamento do texto */
    font-weight: bold; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.tecnologias .i {
    font-size: 15px; 
    margin-bottom: 10px;
}


.tecnologias .github-link {
    margin-top: 10px;
    text-decoration: none;
    padding: 5px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.1s;
}

.tecnologias .github-link:hover {
    background-color: #fff;
    color: black;
}


.projeto:hover .tecnologias {
    opacity: 1; 
    transition: opacity 0.15s;
}

.projeto:hover img {
    filter: blur(1px); 
}




.services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.services-box {
    padding: 20px;
    width: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    border-bottom: 2px solid var(--main-color);
    box-shadow: 0 2px 7px rgb(14 55 54 / 15%)joo;
    overflow: hidden;
    position: relative;
    z-index: 1; /* Defina um índice Z maior para garantir que o conteúdo fique acima do pseudo-elemento */
}

.services-box::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--main-color);
    transition: height 0.5s ease;
    z-index: -1; /* Defina um índice Z menor para que o pseudo-elemento fique abaixo do conteúdo */
}

.services-box:hover::before {
    height: 100%;
}


.services-box h3 {
    font-size: 1rem;
    font-weight: 600;
    margin: 0.7rem 0 0.4rem;
}

.services-box:hover h3 {
    color: #ffffff;
}

body.active .services-box h3 {
    color: rgba(2, 166, 70);
}


body.active .services-box:hover h3 {
    color: #ffffff;
}

.services-box .bx {
    padding-top: 2rem;
<<<<<<< HEAD
    font-size: 44px;
=======
    font-size: 54px;
>>>>>>> 87e5ca010b95818a4fdd4e80237b7549469214dc
    color: var(--main-color);
}
body.active .services-box .bx {
    color: rgba(2, 166, 70);
}
body.active .services-box:hover .bx {
    color: #ffffff;
}

.services-box:hover .bx {
    color: #ffffff;
}

.loader-container {
    width: 200px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;
}

.loader {
    width: 0;
    height: 30px;
    background-color: #4CAF50;
    text-align: center;
    line-height: 30px;
    color: white;
    transition: width 2s ease;
}

.projetos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
}

.projetos-box h1 {
    justify-content: center;
    font-size: 1rem;
    font-weight: 600;
    margin: 0.7rem 0 0.4rem;
}

.contact-form {
    display: grid;
    place-items: center;
    margin-top: 2rem;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    width: 650px;
}

/* Estilize as caixas de entrada de texto */
form input,
textarea {
  padding: 15px;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  outline: none;
  background: hsla(147, 41%, 49%, 0.4);
  margin-bottom: 1rem;
  color: #000000; 
}


form input::placeholder,
textarea::placeholder {
  color: #000000; 
}

form textarea {
  color: #000000;
  resize: none;
  height: 200px;
}
form textarea::placeholder {
    color: #000000;
}
 /* Alteração da cor dos elementos no modo dark */
body.active form input,
textarea {
    color: #fff;
}
body.active form input::placeholder,
textarea::placeholder {
    color: #fff;
}

body.active  form textarea {
    color: #fff;
}

body.active form textarea::placeholder {
    color: #fff;
}

.contact-button {
    width: 160px;
    cursor: pointer;
    background: var(--main-color);
    color: #fff;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 1px;
     margin-left: 35%; 
}

.contact-button:hover {
    background: var(--hover);
}

.copyright {
    padding: 20px;
    background: var(--main-color);
    text-align: center;
    color: #fff;
}

.copyright a {
<<<<<<< HEAD
    color: #fff;
}

.copyright a:hover  {
    color: var(--text-color);
=======
    color: #22cf91;
>>>>>>> 87e5ca010b95818a4fdd4e80237b7549469214dc
}

@media (max-width: 991px) {
    header {
        padding: 18px 4%;
    }
    section {
        padding: 50px 4%;
    }
}

@media (max-width: 881px) {
    :root {
        --big-font: 2.7rem;
        --medium-font: 1.4rem;
    }
}

@media (max-width: 768px) {
    :root {
        --big-font: 2.4rem;
        --medium-font: 1.2rem;
    }
    header {
        padding: 11px 4%;
    }
    #menu-icon {
        display: initial;
        color: var(--text-color);
    }
    header .navbar {
        position: absolute;
        top: -500px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--bg-color);
        box-shadow: 0 4px 4px rgb(0 0 0 / 10%);
        transition: 0.2s ease;
        text-align: center;
    }
    .copyright  {
        font-size: 12px;
    }
    .navbar.active {
        top: 100%;
    }
    .navbar a {
        padding: 1.5rem;
        display: block;
        background: var(--bg-color);
    }
    #darkmode {
        position: absolute;
        top: 1.4rem;
        right: 2rem;
    }
    .scroll-down {
        display: none;
    }
    .home {
        grid-template-columns: 0.5fr 3fr;
    }
    .home-text {
        grid-column: 1/3;
        padding-left: 1.4rem;
    }
    .home-img {
        order: initial;
    }
    .about-container {
        grid-template-columns: 1fr;
    }
    .about-img {
        display: flex;
        justify-content: center;
    }
    .about-text {
      margin-right: 20px; /* Ajuste o valor conforme necessário para criar a margem desejada */
    }
    .skills-container {
        grid-template-columns: 1fr;
    }
    .skills-img img {
        padding-left: 0;
    }
    .skills-img {
        padding-top: 2rem;
        display: flex;
        justify-content: center;
    }
    .bars-box {
        margin-right: 20px;
    }
    .contact-form form {
        width: 300px;
    }
    .contact-button {
        margin-left: 25%;
    }
}

@media (max-width: 340px) {
    :root {
        --big-font: 1.7rem;
        --medium-font: 1.1rem;
    }
    .home-text span {
        font-size: 1rem;
    }
    .home-text h2 {
        font-size: 0.9rem;
        font-weight: 500;
    }
    .information .info-box span {
        font-size: 1rem;
    }
    .contact-form form {
        width: 300px;
    }
    .contact-button {
        margin-left: 25%;
    }
<<<<<<< HEAD
}


.btn-whatsapp {
    position: fixed;
    bottom: 14px;
    right: 24px;
    z-index: 99;
  }
  
  .btn-whatsapp img {
    max-width: 74px;
    transition: transform 0.4s;
  }
  
  .btn-whatsapp img:hover {
    transform: scale(1.1);
  }
  
  .btn-whatsapp .tooltip-text {
    visibility: hidden;
    position: absolute;
    width: 120px; /* Ajuste o valor para tornar o tooltip mais curto */
    top: 1px;
    left: -144px;
    padding: 8px;
    border-radius: 10px;
    text-align: center;
    background-color: #232224;
    color: #FFF;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .btn-whatsapp:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  
  @media screen and (max-width: 768px) {
    .btn-whatsapp img {
      max-width: 64px;
    }
  }
  
=======
}
>>>>>>> 87e5ca010b95818a4fdd4e80237b7549469214dc
